---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/home/Hero.astro";
import HeroSection from "@/sections/home/HeroSection.astro";
import GridGalery from "@/sections/home/GridGalery.astro";
import Features from "@/sections/home/Features.astro";
import Products from "@/sections/home/Products.astro";
import Services from "@/sections/home/Services.astro";
import Schedule from "@/sections/home/Schedule.astro";
---

<Layout>

    <div class="flex flex-col md:gap-y-10">
        <!-- <Hero /> -->
        <HeroSection />
        <Features />
        <Products />
        <Services />
        <div id="agendar">
            <Schedule />
        </div>
    </div>

</Layout>
