---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/about/Hero.astro";
import History from "@/sections/about/History.astro";
import HowWorks from "@/sections/about/HowWorks.astro";
import Team from "@/sections/about/Team.astro";
import Trust from "@/sections/about/Trust.astro";
import Testimonials from "@/sections/about/Testimonials.astro";
import { seoPages } from "@/core/SeoData";
---

<Layout {...seoPages.about}>
  <!-- <Hero /> -->
  <Trust />

  <div class="flex flex-col gap-y-10">
    <History />
    <HowWorks />
    <Team />
    <Testimonials />
  </div>
</Layout>
