---

import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/products/Hero.astro";
import ProductsGrid from "@/sections/products/ProductsGrid.astro";
import { seoPages } from "@/core/SeoData";
---

<Layout {...seoPages.products}>
    <div class="flex flex-col gap-y-10">
        <Hero />
        <ProductsGrid />
    </div>
</Layout>
