<div class="px-5 md:px-10 py-5 flex flex-col gap-y-5">
    <h3 class="text-lg font-medium text-white">Información de contacto</h3>

    <form id="contact-form" class="flex flex-col gap-y-5">
        <!-- Name -->
        <div class="space-y-2">
            <label
                for="name"
                class="block text-sm text-neutral-300">Ingresa tu nombre</label
            >
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Nombres completos"
                required
                class="w-full px-5 py-2.5 bg-neutral-800 text-sm border border-neutral-700 rounded-lg text-white"
            />
        </div>

        <!-- Company -->
        <div class="space-y-2">
            <label
                for="company"
                class="block text-sm text-neutral-300">Empresa o marca</label
            >
            <input
                type="text"
                name="company"
                id="company"
                placeholder="Foxcode"
                class="w-full px-5 py-2.5 bg-neutral-800 text-sm border border-neutral-700 rounded-lg text-white"
            />
        </div>

        <!-- Email -->
        <div class="space-y-2">
            <label
                for="email"
                class="block text-sm text-neutral-300">Ingresa tu correo electrónico</label
            >
            <input
                type="email"
                name="email"
                id="email"
                placeholder="contacto@foxcode.com"
                required
                class="w-full px-5 py-2.5 bg-neutral-800 text-sm border border-neutral-700 rounded-lg text-white"
            />
        </div>

        <!-- Phone -->
        <div class="space-y-2">
            <label
                for="phone"
                class="block text-sm text-neutral-300">Ingresa tu número de teléfono</label
            >
            <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="+51 960 606 442"
                class="w-full px-5 py-2.5 bg-neutral-800 text-sm border border-neutral-700 rounded-lg text-white"
            />
        </div>

        <div class="hidden" aria-hidden="true">
            <label for="website">Sitio web</label>
            <input
                type="text"
                name="website"
                id="website"
                tabindex="-1"
                autocomplete="off"
            />
        </div>

        <button
            type="button"
            class="w-full py-2.5 bg-primary text-white rounded-lg text-sm font-medium hover:bg-primary-dark transition-colors"
        >Siguiente -></button>

    </form>
</div>
