<div class="px-5 md:px-10 py-5 flex flex-col gap-y-5 h-full">
    <div class="flex flex-col gap-y-2">
        <h3 class="text-lg font-medium text-white">Cotiza tu proyecto</h3>
        <p class="text-sm text-neutral-300">
            Responde los siguientes campos para poder realizar la cotización del
            servicio
        </p>
    </div>

    <hr class="border-white/10 h-px w-full">

    <div class="flex flex-col gap-y-2 h-full">
        <h3 class="font-medium text-white uppercase">Resumen</h3>

        <div id="quote-items" class="grid grid-cols-[1fr_auto] gap-x-5 text-sm text-neutral-300">
            <p class="text-neutral-400 italic col-span-2 text-center py-4">Selecciona un plan para comenzar</p>
        </div>
    </div>

    <hr class="border-white/10 h-px w-full">

    <div class="grid grid-cols-[1fr_auto] gap-x-5 text-white">
        <h3 class="font-medium uppercase">TOTAL</h3>
        <p id="quote-total" class="font-semibold text-end">S/. 0</p>
    </div>

</div>
