---
import MockupCertifox from "@/assets/images/mockup-certifox.png";
import MockupEscapify from "@/assets/images/mockup-escapify.png";
import MockupIphoneFront from "@/assets/images/mockup-iphone-front.png";
import MockupFoxrooms from "@/assets/images/mockup-foxrooms.png";
---

<section
    class="w-full grid gap-y-20 sm:gap-y-32 py-32 max-w-5xl mx-auto max-lg:px-5"
>
    <div
        class="flex flex-col items-center justify-center gap-y-7 text-center z-20 max-md:px-5"
    >
        <h3 class="text-4xl sm:text-5xl font-semibold text-white">
            Las <span class="text-primary">herramientas</span> <br /> que tu empresa necesita
        </h3>
        <p class="text-neutral-300 max-w-3xl">
            Impulsa tu negocio con soluciones pensadas para optimizar procesos,
            mejorar la experiencia de tus clientes y escalar sin complicaciones.
        </p>
    </div>

    <!-- Carrousel Apps -->
    <div class="relative h-120">
        
        <!-- Phone Left -->
        <div class="hidden md:block absolute left-25 top-1/2 mt-10 -translate-y-1/2 z-10">
            <img
                src={MockupCertifox.src}
                alt="Mockup Hand"
                class="w-full max-w-xs mx-auto animate-float"
            />
        </div>

        <!-- Image Right -->
        <div class="md:hidden size-60 sm:size-80 bg-white/10 rounded-lg absolute">
        </div>

        <!-- Phone Front -->
        <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-20 lg:z-10">
            <img
                src={MockupEscapify.src}
                alt="Mockup Hand"
                class="w-full h-full max-w-70 max-sm:w-56 animate-float"
            />
        </div>

        <!-- Phone Right -->
        <div class="hidden md:block absolute right-25 top-1/4 mt-10 -translate-y-1/2 z-10 lg:z-20">
            <img
                src={MockupFoxrooms.src}
                alt="Mockup Hand"
                class="w-full max-w-xs mx-auto animate-float"
            />
        </div>

        <!-- Image Left -->
        <div class="md:hidden size-60 sm:size-80 bg-white/10 rounded-lg absolute right-0 bottom-0">
        </div>

    </div>
</section>
